.container {
  height: 100%;
  position: relative;
}

button {
  width: 100%;
}

.input-form {
  width: 100%;
}

h2 {
  text-align: center;
}


.login-icon {
  position: absolute;
  top: -30px;
  left: 38%;
  font-size: 60px;
  color: #dbdbdb;
}

.input-error {
  width: 100%;
  color: #e60e0e;
}

@media screen and (max-width: 560px) {
  .container {
    background-color: #fff;
  }

}
